@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #47aed4;
}

.navbar a {
  color: #ffffff;
  font-size: 1.5em;
  transition: color 0.3s;
  font-weight: 900;
}

.navbar a:hover {
  color: rgb(0, 84, 126);
}

.bg-light {
  justify-content: center;
  height: 100px;
}

.card h3 {
  font-weight: 700;
}
